.btn {
  border-radius: 30px;
  font-size: 1rem;
  border: 0;
  padding: 0.6rem 1.5rem;

  &-white {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    border: 1px solid #e5e5e5;
    background-color: #fdfdfd;

    img {
      height: .5rem;
      transform: translateX(-10px);
    }
  }

  &-blue {
    color: #fff;
    background-color: #5582EA;
  }

  &-orange {
    background-color: #F7A336;
    color: #fff;
  }

  &-back {
    padding: .3rem 1.5rem;
  }

  &-prev, &-next {
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background-color: #fff;
    padding: 4px;
    line-height: 0;

    img {
      height: 7px;
    }
  }

  &-justified {
    width: 100%;
  }

  &-help {
    border-radius: 50%;
    font-weight: 600;
    padding: .25rem .85rem;
  }
}