$violet: #3F4280;
$orange: #F7A336;
$light-blue: #5582EA;
$green: #467551;
$light-green: #A4FCAC;

$black: #000;

$dark-grey: #808495;
$grey: #E0E0E0;
$light-gray: #F5F5F5;
$white-gray: #FDFDFD;
$white: #fff;

