.courses {
  border-radius: 35px 8px 8px 35px;
  background-color: #f5f5f5;
  display: flex;
  position: relative;
  margin-bottom: .8rem;
  height: calc(5rem + .15rem);

  &-percent {
    border-radius: 50%;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px 0 #00000030;
  }

  &-badge {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &-info {
    padding-left: 1rem;
    padding-top: 0.5rem;

    span {
      display: block;
    }

    &_name {
      font-weight: 600;
    }

    &_description {
      color: #97989C;
      font-weight: 600;
      font-size: .6rem;
    }
  }
}