$black-grey: #adb5bd;
$red: #C84343;
.header-top {
  background-color: #3F4280;
  padding: 1.5rem;
  margin-top: 56px;

  h1 {
    color: $white;
    width: 80%;
    font-size: 1.8rem;
  }

  h2 {
    color: $black-grey;
    font-size: 1rem;
  }

  button {
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
  }
}

.btn-back {
  img {
    height: .75rem;
    transform: translateX(-7.5px);
  }
}

.header-task {
  background-color: #3F4280;
  padding: 1rem 1rem;
  position: relative;
  margin-top: 56px;

  h1 {
    color: $white;
    width: 80%;
    font-size: 1.8rem;
  }

  h2{
    color: $black-grey;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
}

.level-button{
  display: flex;
  justify-content: flex-end;
  span{
    margin: 0 2vw;
    color: $grey;
    font-size: 0.9rem;
  }
}

.problem-button{
  display: flex;
  justify-content: flex-end;
  button {
    margin: 0;
  }
  &-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  -webkit-flex: 1 2.5 auto;
  -ms-flex: 1 2.5 auto;
  flex: 1 2.5 auto;
  align-items: center;
}

.table-header {
  color: $dark-grey;
  font-size: 1rem;
  padding: 0.6rem 0;

  span {
    margin: 2vw;

    &:nth-child(1){
      flex-basis: 16vw;
      padding-left: 1rem;
    }
    &:nth-child(2){
      flex-basis: 46vw;
    }
    &:nth-child(3){
      flex-basis: 26vw
    }
  }
}

.top-style{
  li {
    &:nth-child(1) {
      font-size: 160%;
    }

    &:nth-child(2) {
      font-size: 140%;
    }

    &:nth-child(3) {
      font-size: 120%;
    }
  }
  &-list {
    background-color: $light-gray;
    margin-bottom: 1vw;
    padding: 0.5rem 0;
    min-height: 4rem;
    span {
      margin: 2vw;
      &:nth-child(1) {
        flex-basis: 16vw;
        color: $orange;
        font-weight: 600;
        padding-left: 1rem;
      }

      &:nth-child(2) {
        flex-basis: 46vw;
      }

      &:nth-child(3) {
        flex-basis: 26vw;
        color: $dark-grey
      }
    }
  }
}

ol, li {
  margin: 0;
  padding: 0;
}

.top-divider{
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  span
  {
    background-color: $black;
    width: 0.3rem;
    height: 0.3rem;
    margin: 0 .3rem;
    border-radius: 50%;
  }
}


.task-text {
  color: black;
  font-size: 1rem;
  margin: 1.5rem;
}

.work-text {
  color: black;
  font-size: 1rem;
  margin: 1rem;
  img {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}
.flex-obj-center {
  display: flex;
  justify-content: center;
}
.center-obj {
  margin: 1rem auto;
  text-align: center;
}

.theory-btn {
  button {
    margin: 1rem;
  }
}
.figures {
  width: 5rem;
  height: 5rem;
  margin: 0.7rem;
  &-css-selectors {
    &-square {
      border-radius: 0;
      background-color: $orange;
      &-result {
        margin: 3.5rem 0;
      }
    }
    &-square-border {
      border-radius: 15%;
      background-color: $green;
    }
    &-circle {
      border-radius: 50%;
      background-color: $light-blue;
    }
  }
  &-css-style-square {
    width: 5rem;
    height: 5rem;
    border: 0.05rem solid $black;
    margin: 0.7rem;
    background-color: $white;
    &-result {
      background-color: $red;
      margin: 3.5rem 0;
    }
  }
}

.square-css-style-result {
  background-color: $red;
  margin: 3.5rem 0;
}

.congratulation {
  h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: capitalize;
  }
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  margin-bottom: 3.5rem;
}