.profile {
  &-header {
    background-color: $violet;
    color: $white;

    h3 {
      font-size: 20px;
      position: relative;
      top: 2rem;
    }

    span.course-desc {
      font-size: 7px;
      color: #97989C;
      position: relative;
      top: 0.7rem;
    }

    span.course-progress {
      font-size: 25px;
      position: absolute;
      top: 5.7rem;
      right: 2rem;
    }
  }
}

.badge-position {
  position: absolute;
  top: 4.5rem;
  width: 2rem;

  &-first {
    left: 1rem;
  }

  &-second {
    left: 3.5rem;
  }
}

.back-prof {
  margin: 1.25rem;
}

.text-Quest {
  text-align: left;
  font-size: 15px;
  letter-spacing: 0;
  color: $black;
  opacity: 1;
  padding: 1.25rem 0rem;

}

.btn-quest {
  border-radius: 35px 8px 8px 35px;
  background-color: $light-gray;
  display: flex;
  position: relative;
  height: calc(5rem + .15rem);
  border: $white;
  margin: 0.5rem 1rem;
}

.color-btn {
  background-color: $light-green;
}




