@import "colors";
$color-description: #97989C;
$color-box-shadow: #00000030;

.achievement {
  border-radius: 35px 8px 8px 35px;
  background-color: #f5f5f5;
  display: flex;
  position: relative;
  margin-bottom: .8rem;
  height: calc(5rem + .15rem);

  &-completed{
    background-color: $light-green !important;
  }

  &-img {
    border-radius: 50%;
    font-weight: 600;
    height: 5rem;
    width: 5rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 6px 0 $color-box-shadow;
  }

  &-info {
    padding-left: 1rem;
    padding-top: 0.5rem;

    span {
      display: block;
    }

    &_name {
      font-weight: 600;
    }

    &_description {
      color: $color-description;
      font-weight: 600;
      font-size: .6rem;
    }
  }
}


.profiles {
  &-header {
    background-color: #2F4280;
    color: $white;
    display: flex;


    &-content{
      top: 0rem;
      left: 0rem;
      display: flex;
      flex-direction: column;
    } ;
  }
}

.btn_go_to_top
{
  padding: 0rem 1.5rem;
  font-size: 0.75rem;
  width: 7rem;
  height: 2rem;
}
.btn_sing_out
{
  padding: 0rem 1.5rem;
  font-size: 0.75rem;
  width: 6rem;
  height: 2rem;
  margin: 0;

}
.profile-block-go-top
{
  font-size: 11.5px;
  background-color: #F5F5F5;
}

.user_name
{
  margin: 0rem;
}

.email-inf
{
  margin-bottom: 1rem;
  font-size: 12px;
  color: #97989C;
  top: 0rem;
  left: 6.5rem;
}

