*{
  &:focus{
    outline: none !important;
  }
}
/*3456*/
.btn{

  &-login{
    width: 60%;
  }
}

.btn-courses{
  margin: 0.5rem 1rem;
}
.form-check{
  margin-bottom: 2rem;
}
.form-center{
  margin: 0 auto;
}

//.center{
//  width: 60%;
//  margin: 40% auto 0;
//}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  margin-top: 100px;
}



.html2 {
  position: absolute;
  right: 2rem;
}

.login{
  text-align: center;
  margin-bottom: 15%;
}
.Remember_me-text{
  font-size: 12px;
}
.basement2{
  margin-top: 100px;
  text-align: center;
}
.basement {
  position: fixed; /* Фиксированное положение */
  bottom: 0; /* Левый нижний угол */
  padding: 10px; /* Поля вокруг текста */
  width: 100%; /* Ширина слоя */
  text-align: center;
}
.a_login{
  color: #f7a336;
}

.form-control:focus{
  box-shadow: none;
  line-height: 1.2;
}

