$color-small: #ccc;


/* form starting stylings ------------------------------- */

.group {
  position: relative;
  margin-bottom: 30px;
}

.input-login {
  font-size: 14px;
  padding: 10px;
  display: block;
  min-width: 240px;
  border: none;
  border-bottom: 1px solid #ccc;

  &:focus {
    outline: none;
  }
}

/* LABEL ======================================= */

.label-login {
  color: #999;
  font-size: 18px;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 15px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */

.input-login {
  &:focus ~ label, &:valid ~ label {
    top: -15px;
    font-size: 14px;
    color: #5264AE;
  }
}

/* BOTTOM BARS ================================= */

.bar {
  position: relative;
  display: block;
  width: 100%;

  &:before, &:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  &:before {
    left: 50%;
  }

  &:after {
    right: 50%;
  }
}

/* active state */

.input-login:focus ~ .bar {
  &:before, &:after {
    width: 50%;
  }
}