@import "courses";
@import "btn";
@import "colors";
@import "nastya";
@import "nyandoma";
@import "vlad";
@import "vlad_form";
@import "vlad_profile";


* {
  font-family: 'Open Sans', sans-serif;

  &:focus {
    outline: none !important;
  }
}

body {
  background-color: $white;
}

.header {
  background-image: url(../images/header-bg.png);
  background-size: cover;
  background-position-x: 50%;
  padding: 2rem 1rem;
  height: 40vh;

  h1 {
    color: $white;
    width: 80%;
    font-size: 1.8rem;
    font-weight: bold;
  }

  h4 {
    color: $white-gray;
    width: 50%;
    font-size: 1rem;
    margin-top: 25px;
  }

  button {
    border: none;
    padding: .5rem 1.5rem;
    margin-top: 1.5rem;
  }
}

.content, .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0;
}

.content {
  margin-bottom: 5rem;
}

.main-page {
  &-video {
    .col {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 25px;
      height: 0;
    }

    h2 {
      text-align: center;
      font-size: 1.4rem;
      padding: 1.5rem 0;
      margin: 0;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.navbar {
  &-light, &-toggler {
    border: none;
  }

  &-collapse {
    margin: -15px;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  &-nav {
    .nav-link {
      padding: 15px;
      cursor: pointer;
      color: $black !important;
    }
  }

}

.nav {
  &-item {
    border-bottom: 1px solid $light-gray;

    &:last-child {
      border: none;
    }
  }
}

.footer {
  padding: 1rem 2.5rem;
  margin-top: 10rem;
  border-top: 1px solid #e5e5e5;

  .col {
    display: flex;
    justify-content: space-between;
  }
}

.badge {
  color: #fff;
  padding: 0.2rem 0.3rem;
  border-radius: 5px;
  font-size: .5rem;

  &-blue {
    background-color: #5582EA;
  }

  &-green {
    background-color: #00b61f;
  }
}